// MEDIA QUERY MANAGER
/*

0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet landscape
[1200 - 1800px] is where our normal styles apply for 'Desktop First'
1800px +: Big Desktop

*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone-portrait {
        @media (max-width: 25.87em) { @content }; // 414px
    }
    @if $breakpoint == phone-landscape {
        @media (max-width: 37.5em) { @content }; // 600px
    }
    @if $breakpoint == tablet-portrait {
        @media (max-width: 56.25em) { @content }; // 900px
    }
    @if $breakpoint == tablet-landscape {
        @media (max-width: 75em) { @content }; // 1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; // 1800px
    }
}