.rune {
    background: #222;
    color: #eee;
}

.landscape {
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
}

.portrait {
    max-width: 67.5rem;
    height: 100%;
    margin: 0 auto;
}